/* */

#content table {
    border-collapse: collapse;
}

#content td,
#content th {
    border: solid 1px #cccccc;
}

td.metadata {
    width: 75px;
    white-space: pre-wrap;
    font-family: consolas;
    font-size: 8pt;
}